* {
    margin: 0;
    background-color: grey;
    text-align: center;
    font-family: 'New Rocker', cursive;
}
header{
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: #1B1717;
    width: 100%;
}
header>a{
    height: 50px;
}
nav {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    width: 65%;
    background-color: #1B1717;
}
nav>a{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #CE1212;
    color: #1B1717;
    font-weight: 600;
    text-decoration: none;
    padding: 0 5px 0 5px;
    font-size: 1.1rem;
}
nav>a:hover{
    background-color: #810000;
    color: white;
    transform: scale(1.1);
    transition: ease-in-out 500ms;
}

.centering{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

form{
    text-align: left;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.item{
    text-align: center;
    height: auto;
    width: 235px;
    margin: 5px;
    border: 5px solid black;
    border-radius: 15%;
    padding: 5px;
    background-color: #EEEBDD;
}

.item>a{
    background-color: #EEEBDD;
}
.item>a>img{
    border-radius: 15px;
    background-color: #EEEBDD;
    border: #1B1717 4px solid;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer{
    width: 100%;
    height: 60px;
}

.atc{
    border-radius: 25px;
    font-size: large;
    margin: 3px;
    padding: 3px;
    border: #1B1717 3px ridge;
    cursor: pointer;
}

.atc:hover{
    background-color:  #CE1212;
    opacity: 75%;
}

.out{
    color: #CE1212;
    font-size: large;
    text-decoration: underline;
    background-color: #EEEBDD;
}
.in{
    margin-bottom: 0;
    background-color: #EEEBDD;
}

.title{
    text-decoration: underline;
}

.title2{
    text-decoration: underline;
    background-color: #EEEBDD;
}

.show{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 70%;
}

.show2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    border: 5px solid black;
    border-radius: 25px;
    padding: 5px;
    background-color: #EEEBDD;
}

.pic{
    border-radius: 15px;
    background-color: #EEEBDD;
    border: #1B1717 4px solid;
    margin-top: 5px;
}

.entryStyle{
    border: #1B1717 5px ridge;
    padding: 5px;
    border-radius: 25px;
    font-size: 1.3em;
    cursor: pointer;
}
.entryStyle:hover{
    background-color:  #CE1212;
    opacity: 75%;
}